ul{
    font-size: x-large;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
    padding: 10px;
    background-color: #D3D3D3;
    text-decoration: none;
}
li {
    float: left;
    /* border: 1px solid; */
}
  
a {
    display: block;
    padding: 8px;
    /* background-color: #dddddd; */
}
li a:hover{
    background-color: gainsboro;
}
li a:visited, li:focus{
    color: blue;
}
#home a{
    color: white;
    background-color: grey;
}
.others a{
    border-left: 2px solid;
}